/* cv.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Avenir, Verdana, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    background: #fff;
    color: #222;
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
}

.container {
    max-width: 90ch;   /* roughly 90 characters per line */
    padding: 2em 1em;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p, li {
    margin-bottom: 0.5em;
}

ul {
    padding-left: 1.25em;
}
