/* cv.css */

body {
    font-family: Avenir, Verdana, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    margin: 0;
    padding: 2em 1em;
    background: #fff;
    color: #222;
}

.container {
    max-width: 90ch;   /* roughly 90 characters per line */
    margin: 0 auto;     /* center horizontally */
}

h1, h2, h3, h4 {
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p, li {
    margin-bottom: 0.5em;
}

ul {
    padding-left: 1.25em;
}
